<%- include("header") %>
    <%if(status=='empty'){

}else{
    if (status=='Error') { %>
        <script>
            swal({
                title: 'Something is wrong!',
                text: "<%= message%>",
                type: 'question',
                padding: '2em'
            })
        </script>
        <% }else{%>
            <script>
                swal({
                    title: 'Vendor added..',
                    text: "Vendor registered successfully",
                    type: 'success',
                    padding: '2em'
                })
            </script>
            <%}}%>

                <div id="content" class="main-content">

                    <div class="layout-top-spacing">

                        <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4><b>Add Vendor </b></h4>
                                            <div class="mt-4 mb-4">
                                                <h5>Enter vendor details</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-content widget-content-area">
                                    <form method="POST" action="/interact/addVendor">

                                        <p>Vendor name </p>
                                        <div class="form-group">
                                            <input id="t-text" type="text" name="name" placeholder="Vendor name." class="form-control" required>


                                        </div>
                                        <p>Vendor phone no.</p>
                                        <div class="form-group">
                                            <input id="tel" type="tel" name="phone" placeholder="9876543210" pattern="[0-9]{10}" class="form-control" required>


                                        </div>
                                        <p>Vendor GST No.</p>
                                        <div class="form-group">
                                            <input id="input-gst" type="text" name="gstin" placeholder="27 AAAAA1111A 1 Z F " class="form-control" >

                                        </div>
                                        <p>Enter E-mail</p>
                                        <div class="form-group">
                                            <input id="e-text" type="email" name="email" placeholder="email@mail.com" class="form-control">
                                        </div>
                                </div>
                                <div class="container">
                                    <div class="center">
                                        <button class="mt-4 btn btn-primary">Register</button>

                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                </div>






                <%- include("footer") %>