<%- include("header") %>
    <div id="content" class="main-content">

        <div class="layout-top-spacing">

            <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h3><b>Create Order</b></h3>
                                <div class="mt-4">
                                    <h5>order details</h5>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="input-group mt-4 mb-4">
                        <p>Select hotel</p>

                        <select class="placeholder js-states form-control">
    <option>Choose...</option>
    <option value="one">First</option>
    <option value="two">Second</option>
    <option value="three">Third</option>
    <option value="four">Fourth</option>
    <option value="five">Fifth</option>
</select>
                    </div>
                    <p>delivery date</p>

                    <div class="input-group mb-4">
                        <input type="date" class="form-control" placeholder="dd/mm/yyyy" aria-label="dd/mm/yyyy">
                    </div>
                    <div class="table-responsive mb-4">
                        <p>Product & Quantity</p>

                        <table id="style-3" class="table style-3  table-hover">
                            <thead>
                                <tr>
                                    <th class="checkbox-column text-center"> Record Id </th>
                                    <th> Name</th>
                                    <th>Marathi Name</th>
                                    <th>quantity</th>
                                    <th>price</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="checkbox-column text-center"> 1 </td>
                                    <td>Donna</td>
                                    <td>Rogers</td>
                                    <td>
                                        <input type="number" placeholder=" quantity" aria-label="enter the quantity">

                                    </td>
                                    <td>
                                        <input type="number" placeholder=" quantity" aria-label="enter the quantity">

                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-column text-center"> 2 </td>
                                    <td>Andy</td>
                                    <td>King</td>
                                    <td>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <input type="number" placeholder="quantity" aria-label="enter the quantity">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <input type="number" placeholder=" amount" aria-label="amount">
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                    <div class="container">
                        <div class="center">
                            <button class="mt-4 btn btn-primary">Submit</button>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>




    <%- include("footer") %>