<%- include("header") %>
    <div id="content" class="main-content">

        <div class=" layout-top-spacing">

            <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h3><b>Total Order</b></h3>
                                <div class="mt-4">
                                    <p>Select date</p>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="date" class="form-control" placeholder="dd/mm/yyyy" aria-label="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statbox widget box box-shadow" style="margin-top: 2%;">

                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <div class="widget-content widget-content-area">
                                    <h3><b>View Order</b></h3>
                                    <p>Select hotel</p>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                        </div>
                                        <select class="form-control disabled-results">
                                                <option value="one">First</option>
                                                <option value="two" disabled="disabled">Second</option>
                                                <option value="three">Third</option>
                                            </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("footer") %>